ul , ol{
    list-style: none;
}
.list-subgeneral{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    max-width: 440px;
}
.item{
    background-color: #F6F6FE;
    border-radius: 8px;
    padding: 16px;
    
}
.title-box{
color: #2E2F42;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: 0.96px;
margin: 0 0 16px;
}
.list-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
}
.name-box{
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #F6F6FE;
}