.button-create{
    width: 120px;
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 8px;
    color: #fff;
    height: 40px;
    background-color: #4E75FF;

    font-family: Montserrat;
    font-size: 16px;
    margin-right: 15px;
    
}
.button-destroy{
    width: 120px;
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 8px;
    color: #fff;
    background-color: #FF4E4E;
    height: 40px;

    font-family: Montserrat;
    font-size: 16px;
}
.input-num{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #808080;
    margin-right: 15px;
    
    padding-left: 67px;
}
.boxes{
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}